/* 
todo // property|  default width   | new line | width , height |	
________________________________________________
* block			| 100 % of parent W |  new line  | respect	  |
* inline		| Fit content 	    | new line	 | no respect |

*/

p {
	background-color: blue;
	display: inline-block;
	width: 200px;
	height: 100px;
	margin: 20px;
}
span {
	background-color: red;
	margin: 10px 0;
	display: block;
}