.parent {
	height: 400px;
	display: grid;
	background-color: red;
	gap: 10px;
	padding: 5px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
	"head head head"
	". . ."
	"nav main side"
	"foot foot foot"
;
}
.parent > div{
	background-color: gold;
}
.header{
	grid-area: head;
}
.nav{
	grid-area: nav;
}
.main{
	grid-area: main;
}
.sidebar{
	grid-area: side;
}
.footer{
	grid-area: foot;
}




/* ! METHOD 1: Using grid items with class names
.header, .nav, .main, .sidebar, .footer {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: stretch;
	font-size: 2rem;
}
.header, .footer {
	background-color: royalblue;
	grid-column: 1/-1;
}
.nav, .sidebar {
	background-color: lightslategrey;
	grid-row: 2/4;
}
.main{
	background-color: lightcoral;
	grid-column: 2/3;
	grid-row: 2/4;
} */