input{
	border: solid 1px #00000056;
	outline: none;
}
input:enabled{
	background-color: rgba(31, 236, 31, 0.486);
}
input:invalid{
	background-color: rgba(255, 99, 71, 0.548);
}
input:disabled{
	background-color: rgb(245, 51, 17);
}
input:focus{
	background-color: rgba(245, 235, 223, 0.411);
}
input:valid{
	background-color: rgba(35, 255, 35, 0.486);
}