div{
	height: 300px;
	border: red dotted 3px;
	padding: 10px;
	background: aquamarine url(/download.jpeg) no-repeat center/cover;
} 
/*t height: 600px;
border: red dotted 4px;
background-image: url(/download.jpeg);
background-repeat: no-repeat;
background-position:left ;
background-size: cover;
padding: 10px;
background-origin: border-box;
*/
/*! -----------------------------------*/
/* background-image: url('/download.jpeg');
background-repeat: repeat;
background-attachment: fixed; 
contain doesn't ruin image dimension
cover ruin image dimension to cover the whole border */