.parent{
	background-color: yellow;
}
.red{
	float: left;
	background-color: red;
	height: 50px;
	width:50px;
}
.green{
	float: left;
	background-color: green;
	height: 50px;
	width:50px;
}
.blue{
	float: left;
	background-color: blue;
	height: 50px;
	width:50px;
}
.brown{
	float: left;
	background-color: brown;
	height: 50px;
	width:50px;
}
.clear{
	clear: both;
}
