th{
	background-color: gold;
	height: 40px;
	border: black 1px solid;
}
td{
	background-color: lightblue;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	border: black 1px solid;
}
table{
	width: 100%;
	border-spacing: 0;
}