div{
	height: 50px;
	width: 100px;
	position: absolute;
}
.red {
	background-color: red;
}
.green {
	z-index: -1;
	background-color: green;
	top: 10px;
	left: 10px;
}
.blue {
	z-index: -2;
	background-color: blue;
	top: 20px;
	left: 20px;
}