div
{
	height: 200px;
	width: 200px;
	align-items: center;
	background-color: red;
	margin: 0 auto;
}
/*! if you want to center the box you need to auto the both sides */
/*! just horizontal (right-left) you cant center virtical (up-bottom) */