.width
{
	background: aqua;
	width: 200px;
}
.minwidth
{
	background: blueviolet;
	min-width: 300px;
}
.maxwidth
{
	background: burlywood;
	max-width: 300px;
}
.height
{
	background: aqua;
	height: 100px;
}
.minheight
{
	background: blueviolet;
	min-height: 100px;
}
.maxheight
{
	background: burlywood;
	max-height: 100px;
}