body{
	background: #222;
}
div{
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background-color: red;
	position: absolute;
	left: 15px;
	top: 15px;
	/* animation-name: square;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: .5s;
	animation-iteration-count: 10;
	animation-direction: normal;
	animation-fill-mode: both;
	animation-play-state: running; */
	animation: square 5s linear .3s 1 normal both running;
}
@keyframes square {
	0% {
		transform: translate(0, 0);
		background-color: aqua;
	}
	25% {
		transform: translate(0, 565px) rotate(90deg);
		background-color: yellow;
	}
    50% {
		transform: translate(605px, 565px) rotate(180deg);
        background-color: green;
    }
	75% {
		transform: translate(605px, 0) rotate(270deg);
		background-color: blue;
	}
    100% {
		transform: translate(0, 0) rotate(360deg);
        background-color: darkgray;
    }

}
div:hover {
	animation-play-state: paused;
	cursor: pointer;
}