p{
	height: 50px;
	background: tomato;
	position: relative;
}
p::first-letter{
	font-weight: bold;
	font-size: 1.5em;
	color: blue;
}
::selection{
	background-color: rgba(23, 185, 2, 0.274);
	color: #000;
}
p::after{
	content: "";
	background-color: rgb(224, 14, 14);
	/*todo : height and width */
	height: 10px;
	width: 100%;
	/*todo : position */
	top: 0;
	right: 0;
	position: absolute;
}